

.auth-btn-container{
  background-color: #dddddd;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.form-container{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px auto;
}
.wrapper{
  margin-top: 2rem;
  max-width: 600px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

form{
    padding: 22px;
    margin-top: 10px;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 600px;
    width: 60%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07);
   
}
.googleContainer{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  
}
.githubContainer{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.githubContainer button{
  padding: 4px 8px;
  width: 280px;
  height: 44px;
  font-weight: 600;
  border-radius: 10px;
}
.githubContainer button:hover{
  background-color: #3d3d3d;
  color: #fff;
  cursor: pointer;
}


.form-group{
  width: 100%;
  margin-bottom: 10px;
}
h2 {
  border-bottom: 1px solid white;
  color: #3d3d3d;
  font-family: sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 24px;
  padding: 8px;
  text-align: center;
}
.container{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px;
  width: 100%;
  outline: none;
}
input:focus{
  border-color: #848fdf;
  border-width: 1px;
}

label {
  color: #3d3d3d;
  display: block;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 5px;
}
.submitButton {
  background-color: #6976d9;
  color: white;
  font-family: sans-serif;
  font-size: 14px;
  margin: 20px 0px;
}
.vbtn{
 padding:10px 22px;
 outline: none;
 font-size: 14px;
 font-weight: 600;
 background-color: #6976d9;
 border: none;
 color: #fff;
 border-radius: 5px;
}
h3{
  margin: 0
}
.logout-btn{
  padding:10px 22px;
  outline: none;
  width: 164px;
  font-size: 14px;
  font-weight: 600;
  background-color: #e7461e;
  border: none;
  color: #fff;
  border-radius: 5px;
}
